@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<h3>About Me</h3>
<img src="~/images/me_pixel_bright_bg.png" />
<p>Welcome to Herman Samra's Blog!</p>
<address>
    <strong>Email Inquires:</strong> <a href="mailto:Herman.Project.Blog@gmail.com">Herman.Project.Blog@gmail.com</a>
</address>

<h3>About My Blog</h3>
<p>Welcome to Herman Samra's Blog!</p>