@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <title>About</title>
</head>
<body>
    <br />

    <div class="card border-primary mb-12">
        <h3 class="card-header">About Me</h3>
        <div class="card-body">
            <img src="~/images/me_pixel_bright_bg.png" style="float:left; margin-right:20px; margin-bottom:20px;" />

            <p>
                <a href="https://github.com/h-samra"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/hermansamra"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                <a href="mailto:herman.samra1@gmail.com"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
            </p>
            <br />
            <p class="card-text">
                My name is Herman Samra and I am a Junior Software Developer. I have recently completed my BSc. In Computer Science at the University of British Columbia (May 2019). During my time there, I took coursework in databases, artificial intelligence, machine learning, and computer vision. Outside of classes, I served as a Councillor for the Science Undergraduate Society and was elected by my peers to be the student representative for the department of Computer Science.
            </p>
            <p class="card-text">
                In addition to school related activities, I spent some time working with Black Boys Code to help young children get a head start in the tech sector.  I teamed up with one of peers and was responsible for organizing and administering hack-a-thons from children between the age of 5 and 17. Organizing entailed creating a programming challenge that 5-year-old children could participate in, but one that would not bore 17-year-old students. We able to achieve this by creating a series of challenges with the Sphero robot. On the day of the events, I gave a detailed presentation on the basics of programming, this included: booleans, conditionals, loops, and some niche Sphero functions. Afterwards, I had the opportunity to assist teams and help make their visions a reality.
            </p>
            <p class="card-text">
                When I’m not involved with school or other programming endeavours, I like to enjoy the outdoors. Growing up in Vancouver, I have learned to enjoy the beautiful hikes, plentiful bodies of water, and the immersive city landscape. Being Vancouver, we only get a few sunny months each year, so I’ve taken up running to fill the rest of the year. In the past, I have participated in 10km long charity runs, such as the Sun Run, Turkey Trot, and Chilly Chase. I’m currently training for my first half marathon for later in 2019, and hopefully my first marathon sometime in 2020!
            </p>
            <p class="card-text">
                You can learn more about me by visiting my <a href="https://github.com/h-samra">GitHub</a> and <a href="https://www.linkedin.com/in/hermansamra">LinkedIn</a> pages, or contact me by <a href="mailto:herman.samra1@gmail.com">email</a> for any inquiries.
            </p>
        </div>
    </div>

    <br />
    <br />

    <div class="card border-primary mb-12">
        <h3 class="card-header">About My Blog</h3>
        <div class="card-body">
            <p class="card-text">
                After getting the opportunity to work with ASP .Net Core 2.1 during an internship, I was inspired to extend what I learned and to create a fully functional application using MVC. Thanks to the power of .Net Core, I was able to produce the back end (C#), front end (html), and database (SQL) for this project with this single framework alone. This blog also utilizes Trumbowyg, a light weight WYSISYG text editor written in JavaScript. Through Facebook integration, each of the blog posts feature a dedicated comment section, and one click sharing.
                Check out more details by visiting my <a href="https://github.com/h-samra/Personal-Blog">GitHub repository</a> for this project.
            </p>
            <p class="card-text">
                The purpose of this blog is for me to share with the world what I enjoy taking on in my free time. Often, I like to exercise my skills as a software developer and produce programming related projects, many of which will their way onto this site. When I’m not programming, I enjoy tinkering with older hardware and working on custom mechanical keyboards, so expect content related to those projects as well. Visit regularly to keep up to date with my bi-weekly posts!
            </p>
        </div>
    </div>

</body>
</html>

