@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <title>About</title>
</head>
<body>
    <br />
    <h2>About Me</h2>
    <div>

        <img src="~/images/me_pixel_bright_bg.png" style="float:left; margin-right:20px; margin-bottom:20px;" />

        <p>
            <a href="https://github.com/h-samra"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/hermansamra"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a href="mailto:herman.samra1@gmail.com"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
        </p>
        <br />
        <p>
            My name is Herman Samra
        </p>
        <br />
        <p>
            You can learn more about me by visiting my <a href="https://github.com/h-samra">GitHub</a> and <a href="https://www.linkedin.com/in/hermansamra">LinkedIn</a> pages
        </p>
        <br />
        <br />
        <br />
    </div>
    <p></p>

    <br />
    <br />
    <h2>About My Blog</h2>
    <br />
    <p>
        After getting the opportunity to work with ASP .Net Core 2.1 during an internship, I was inspired to extend what I learned and to create a fully functional application using MVC. Thanks to the power of .Net Core, I was able to produce the back end (C#), front end (html), and database (SQL) for this project with this single framework alone.
        Check out more details by visiting my <a href="https://github.com/h-samra/Personal-Blog">GitHub respository</a> for this project.
    </p>
    <p>
        The purpose of this blog is for me to share with the world what I enjoy taking on in my free time. Often, I like to exercise my skills as a software developer and produce programming related projects, many of which will their way onto this site. When I’m not programming, I enjoy tinkering with older hardware and working on custom mechanical keyboards. Visit regularly to keep up to date with my bi-weekly posts!
    </p>
</body>
</html>

