@model Post
@{
    ViewData["Title"] = "Post";
}

<h2 class="text-left"><b>@Model.Title</b></h2>
<h4 class="text-right"><i>@Model.Created.ToShortDateString()</i></h4>

@if (!String.IsNullOrEmpty(Model.Image))
{
    <br />
    var image_path = $"/Image/{Model.Image}";
    <img src=@image_path style="display:block; margin-left:auto; margin-right:auto; width:1000px" />
}
<br />
<p>@Model.Body</p>
